html {
  font-family: 'Open Sans', sans-serif;
  /*font-family: monospace;*/
  text-align: center;
}

#page {
  width: 75%;
  margin: 0 auto 0 auto;
  padding: 20 20 20 20;
}

h1,h2,h3,h4,h5,h6,p,li,nav {
  padding: 5 5 5 5;
}

ul {
  display: inline;
  list-style-type: none;
}

header {
  height: 300px;
  margin-top: 30px;
}

#left-header {
  height: 100%;
  width: 48%;
  margin-right: 2%;
  float: left;
}

#right-header {
  height: 100%;
  width: 48%;
  margin-left: 2%;
  float: right;
}

#basic-info {
  float: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#gravatar {
  border-radius: 150px;
  float: right;
}

#email {
  font-weight: 100;
}

nav ul li {
  display: inline;
}

h2 {
  padding-top: 15px;
  padding-bottom: 15px;
}

p, .list {
  font-size: 10pt;
}
