html {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-align: center;
  line-height: 30px;
}

body {
  background-color: rgba(75, 143, 74, 0.15);
}

p {
  margin: 10px 0;
}

em {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(26, 26, 26);
  margin: 10px 0;
  font-family: inherit;
  font-weight: 400;
  line-height: 30px;
  color: inherit;
  text-rendering: optimizelegibility;
}

h1, h2, h3 {
  line-height: 40px;
}

h1 {
  font-size: 39px;
}

h2 {
  font-size: 31px;
}

h3 {
  font-size: 23px;
}

h4 {
  font-size: 17px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 11px;
}

ul, ol {
  padding: 0;
}

ul ul, ul ol, ol ol, ol ul {
  margin-bottom: 0;
}

li {
  line-height: 30px;
  list-style-type: none;
}

b {
  font-weight: 400;
}

#page {
  width: 75%;
  margin: 0 auto;
  padding: 20px 20px 20px 20px;
}

header {
  height: 150px;
  padding-top: 30px;
  padding-bottom: 30px;
  background: rgba(10, 28, 5, 0.84);
  color: white;
}

#left-header {
  height: 100%;
  width: 35%;
  float: left;
}

#right-header {
  height: 100%;
  width: 65%;
  float: right;
}

#basic-info {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#gravatar {
  width: 150px;
  border-radius: 15px;
  float: right;
}

#name {
  font-size: 36px;
  font-weight: 100;
}

#email {
  font-size: 24px;
  font-weight: 100;
}

#summary {
  padding-bottom: 0px;
}

.inner-section {
  padding: 5px 0px;
}

nav ul li {
  display: inline;
}

a {
  text-decoration: none;
  color: rgb(70, 16, 101);
}

a:hover {
  color: rgb(202, 0, 0);
}

p, .list {
  font-size: 14px;
}

section {
  padding: 10px 0 10px 0;
}

hr {
  border-bottom: 1px solid rgb(6, 18, 3);
  width: 600px;
  margin: 0 auto;
}
